#contact {
	display : flex;
	flex-direction: row;
	width: 100%;
	
}
.contactData {
	background-color: black;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50%;
	height: auto;
	padding: 0 15% 0 5%;
	
}
h3 
{
	color: orange;
}
p {
	color: white;
}
.inputContainer {
	background-color: black;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50%;
	height: auto;	
}
.inputContainer > input {
	margin : 0.5em;
	width: 50%;
}

footer {
	color: white;
	background-color: gray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 10%;
}
.ContactIcons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	width 15%;
	margin-bottom: 2%;
}
input[type="text"] {
	 width: 50%;
	 margin: 0.5%;
	 border-bottom-color: white;
}
input[type="number"] {
	 width: 50%;
	  border-bottom-color: white;
}
