/*

a) Nadaj wszystkim tekstom na stronie czcionkę Arial

f) Sekcje "Ankieta"  i "Moje ulubione warzywa" powinny mieć marginesy górny i dolny ustawiony na 50px, a lewy i prawy na 600px
g) Odnośniki powinny mieć kolor  #560778 oraz powinny być przekreślone poziomą linią 
*/
body
{
	
	background-color: #e6b7fb;
	font-family: Arial;
}

.name
{
	text-align: center;
	
}

.social
{
	test-align: center;
	color: #560778;
	text-decoration: line-through;
}

.me
{
	margin: 50px 100px 20px 400px;
	text-align: center;
}	

.ankieta
{
	margin: 50px 600px 50px 600px;
	
}

.img
{
	width:10%;
	border-radius:100%;
}